/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.fixed .column-title {
    width: 30%;
}
fixed .column-author, .fixed .column-date, .fixed .column-format, .fixed .column-links, .fixed .column-parent, .fixed .column-posts {
    width: 8%;
}
.postbox {
    min-width: 255px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}
.dashicons.dashicons-warning {
    color: #333;
    font-size: 1.8em;
    position: relative;
}
.polylang-help {
    display: none;
}
.dashicons.dashicons-warning:hover > span.polylang-help ,.polylang-help:hover {
    display: inline;
    position: absolute;
    font-size: 15px;
    border: 1px solid grey;
    width: 200px;
    padding: 2px 2px 6px 2px;
    right: 20px;
    background: #e9e9e9;
}